<h1 class="title">Random Wallpaper</h1>
<div class="images-container">
    <div class="grid row center-block" id="officialRow">
    {%- for image in site.static_files -%}
    {%- if image.path contains "assets/images/wallpaper" -%}
        <div class="col-sm-3 grid-item">
            <div class="shadow mr-2 mb-2 paperImage">
                <a data-fancybox="gallery" data-caption="<a target='_blank' href='{{ site.baseurl }}{{ image.path }}'>Full Image</a>" href="{{ site.baseurl }}{{ image.path}}">
                    <img class="pic lazyload" data-src="{{ site.baseurl }}/assets/images/thumbnails/wallpaper/{{ image.basename | append: ".jpg" }}">
                </a>
            </div>
        </div>
    {%- endif -%}
    {%- endfor -%}
    </div>
</div>